@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/RobotoMono-Regular.woff2') format('woff2'),
    url('./fonts/RobotoMono-Regular.woff') format('woff'),
    url('./fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/RobotoMono-Medium.woff2') format('woff2'),
    url('./fonts/RobotoMono-Medium.woff') format('woff'),
    url('./fonts/RobotoMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/RobotoMono-Bold.woff2') format('woff2'),
    url('./fonts/RobotoMono-Bold.woff') format('woff'),
    url('./fonts/RobotoMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

body {
  margin: 0;
  padding-top: 1.8em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  height: calc(100vh - 1.8em);
  display: flex;
  justify-content: center;
  font-family: 'Roboto Mono', Courier, monospace;
  font-size: 18px;
  font-weight: 400;
  color: #222;
}

@media (max-width: 600px) {
  body {
    padding-top: 0.8em;
  }
}

h1 {
  margin-bottom: 36px;
  font-size: 32px;
  font-weight: 700;
  color: #e6e1f3;
  text-align: center;
}

h1 span {
  cursor: pointer;
}

h1 .tld {
  margin-left: -3px;
  font-size: 22px;
  color: #e6e1f3cc;
}

h2 {
  margin: 0 0 41px;
  color: #e6e1f3;
  text-align: center;
}

@media (max-width: 600px) {
  h2 {
    margin-top: 15px;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 25px;
  }
}

p {
  font-size: 22px;
  line-height: 34px;
  color: #e6e1f3;
  text-align: center;
}

@media (max-width: 400px) {
  p {
    font-size: 20px;
  }
}

strong {
  color: #fff;
}

::selection {
  background: #ff34f9;
}

::-moz-selection {
  background: #ff34f9;
}

.container {
  position: relative;
  padding: 0 45px 27px;
  width: 504px;
  height: 378px;
  min-height: 378px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0d0620;
  border-radius: 30px;
  box-shadow: 0 0 108px #47299c;
}

@media (max-width: 700px) {
  .container {
    box-sizing: border-box;
    width: calc(100vw - 4em);
  }
}

@media (max-width: 600px) {
  .container {
    padding: 45px;
    padding-top: 30px;
    min-height: 365px;
    height: auto;
  }
}

.audio-recorder-container {
  overflow: hidden;
}

.audio-react-recorder {
  position: relative;
  top: 14px;
}

.microphone-error,
.microphone-request-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  position: relative;
  top: 12px;
}

@media (max-width: 600px) {
  .description {
    top: 0;
  }
}

.mnemonic {
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .mnemonic {
    margin-bottom: 80px;
  }
}

.mnemonic p {
  position: relative;
  top: -23px;
  font-size: 18px;
}

button {
  position: absolute;
  bottom: 45px;
  padding: 14px 27px;
  min-width: 225px;
  height: 4rem;
  font-family: 'Roboto Mono', Courier, monospace;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  -webkit-appearance: none;
  background: linear-gradient(to right, #6804ff 0%, #ff4d4d 40%, #ff34f9 70%, #ff3458 100%);
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  button {
    margin-top: 40px;
  }
}

@media (max-width: 400px) {
  button {
    width: calc(100% - 90px);
    min-width: auto;
  }
}

button.on-mouse-enter {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

button.on-mouse-leave {
  animation-name: gradient-reverse;
  -webkit-animation-name: gradient-reverse;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes gradient-reverse {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button:active {
  bottom: 44px;
}

.copy-button {
  width: 288px;
}

@media (max-width: 400px) {
  .copy-button {
    width: calc(100% - 90px);
  }
}

.button-text {
  display: inline-block;
  margin-left: 11px;
}

.record-icon,
.stop-icon {
  position: relative;
  top: 1px;
}

.footer {
  margin-top: 16px;
  padding-bottom: 60px;
  text-align: center;
}

.rerecord-button,
.download-archive-button {
  font-size: 14px;
  color: #9783d4;
  text-decoration: none;
  border-bottom: 1px solid #9783d4;
  transition: all 0.2s;
}

.rerecord-button:hover,
.download-archive-button:hover {
  border-bottom-color: #bfb1ea;
  color: #bfb1ea;
}

.rerecord-button:active,
.download-archive-button:active {
  position: relative;
  top: 1px;
  color: #bfb1ea;
  border-bottom-color: #bfb1ea;
}
