@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/RobotoMono-Regular.woff2') format('woff2'),
    url('./fonts/RobotoMono-Regular.woff') format('woff'),
    url('./fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/RobotoMono-Medium.woff2') format('woff2'),
    url('./fonts/RobotoMono-Medium.woff') format('woff'),
    url('./fonts/RobotoMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/RobotoMono-Bold.woff2') format('woff2'),
    url('./fonts/RobotoMono-Bold.woff') format('woff'),
    url('./fonts/RobotoMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

body {
  margin: 0;
  padding-top: 1.8em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  height: calc(100vh - 1.8em);
  display: flex;
  justify-content: center;
  font-family: 'Roboto Mono', Courier, monospace;
  font-size: 18px;
  font-weight: 400;
  color: #e6e1f3;
}

@media (max-width: 600px) {
  body {
    padding-top: 0em;
  }
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: #e6e1f3;
  text-align: center;
}

h1 span {
  cursor: pointer;
}

h1 .tld {
  margin-left: -3px;
  font-size: 22px;
  color: #e6e1f3cc;
}

h2 {
  margin: 0 0 15px;
  color: #e6e1f3;
  text-align: center;
}

@media (max-width: 600px) {
  h2 {
    margin-top: 15px;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 25px;
  }
}

p {
  font-size: 22px;
  line-height: 34px;
  text-align: center;
}

@media (max-width: 400px) {
  p {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

a:hover {
  border-bottom: 2px solid #fff;
}

strong {
  color: #fff;
}

::selection {
  background: #ff34f9;
}

::-moz-selection {
  background: #ff34f9;
}

.container {
  position: relative;
  padding: 0 45px 27px;
  width: 504px;
  height: 378px;
  min-height: 378px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0d0620;
  border-radius: 30px;
  box-shadow: 0 0 108px #47299c;
  transition: height 0.3s, min-height 0.3s;
}

@media (max-width: 700px) {
  .container {
    box-sizing: border-box;
    width: calc(100vw - 4em);
  }
}

@media (max-width: 600px) {
  .container {
    padding: 45px;
    padding-top: 30px;
    min-height: 330px;
    height: auto;
  }
}

.container.container-processed {
  height: 560px;
  min-height: 560px;
}

@media (max-width: 600px) {
  .container.container-processed {
    height: auto;
  }
}

.container-border {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 30px;
  transition: opacity 1s;
  z-index: -1;
  overflow: hidden;
}

.container-border:after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  --angle: 0deg;
  border: 10vmin solid;
  border-image: conic-gradient(
      from var(--angle),
      #6804ff 0%,
      #ff4d4d 30%,
      #ff34f9 50%,
      #ff3458 70%,
      #6804ff 90%
    )
    1;
  animation: 2s rotate linear infinite;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: -1;
}

.container-border.container-border-visible:after {
  opacity: 1;
}

.audio-recorder-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  overflow: hidden;
}

.microphone-error {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .microphone-error {
    margin-bottom: 50px;
  }
}

.description {
}

@media (max-width: 600px) {
  .description {
    top: -60px;
    margin-bottom: 60px;
  }
}

.mnemonic {
  margin-bottom: 30px;
}

.mnemonic p {
  font-size: 18px;
}

.strength-indicator-container {
  margin: 10px 0 70px;
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}

@media (max-width: 600px) {
  .strength-indicator-container {
    margin-bottom: 100px;
    width: 90%;
  }
}

.strength-indicator-label {
  margin-bottom: 15px;
}

.strength-indicator-details {
  width: 90%;
  margin: 15px auto 0;
  font-size: 11px;
  line-height: 19px;
  color: rgb(255, 255, 255, 0.5);
}

.strength-indicator-details strong {
  color: inherit;
}

.strength-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.strength-indicator-bar {
  margin-right: 5px;
  width: 80px;
  height: 4px;
  background: rgb(255, 255, 255, 0.25);
  border-radius: 5px;
}

.strength-indicator-bar:last-of-type {
  margin-right: 0;
}

@media (max-width: 600px) {
  .strength-indicator-bar {
    width: 20%;
  }
}

.strength-indicator-strong .strength-indicator-bar.strength-indicator-bar-filled,
.strength-indicator-weak .strength-indicator-bar.strength-indicator-bar-filled,
.strength-indicator-very-weak .strength-indicator-bar.strength-indicator-bar-filled {
  transition: background 0.5s;
  animation: 0.5s bulge ease-in;
}
.strength-indicator-strong .strength-indicator-bar.strength-indicator-bar-filled {
  background: #34ff85;
}

.strength-indicator-weak .strength-indicator-bar.strength-indicator-bar-filled {
  background: #edff4d;
}

.strength-indicator-very-weak .strength-indicator-bar.strength-indicator-bar-filled {
  background: #ff3458;
}

.strength-indicator-bar.strength-indicator-bar-filled:nth-of-type(1) {
  transition-delay: 0;
  animation-delay: 0;
}

.strength-indicator-bar.strength-indicator-bar-filled:nth-of-type(2) {
  transition-delay: 0.1s;
  animation-delay: 0.1s;
}

.strength-indicator-bar.strength-indicator-bar-filled:nth-of-type(3) {
  transition-delay: 0.2s;
  animation-delay: 0.2s;
}

.strength-indicator-bar.strength-indicator-bar-filled:nth-of-type(4) {
  transition-delay: 0.3s;
  animation-delay: 0.3s;
}

.strength-indicator-bar.strength-indicator-bar-filled:nth-of-type(5) {
  transition-delay: 0.4s;
  animation-delay: 0.4s;
}

.strength-indicator-strength-0 .strength-indicator-bar:nth-of-type(1) {
  opacity: 1;
}

.strength-indicator-strength-1 .strength-indicator-bar:nth-of-type(1) {
  opacity: 0.5;
}

.strength-indicator-strength-1 .strength-indicator-bar:nth-of-type(2) {
  opacity: 1;
}

.strength-indicator-strength-2 .strength-indicator-bar:nth-of-type(1) {
  opacity: 0.4;
}

.strength-indicator-strength-2 .strength-indicator-bar:nth-of-type(2) {
  opacity: 0.7;
}

.strength-indicator-strength-2 .strength-indicator-bar:nth-of-type(3) {
  opacity: 1;
}

.strength-indicator-strength-3 .strength-indicator-bar:nth-of-type(1) {
  opacity: 0.4;
}

.strength-indicator-strength-3 .strength-indicator-bar:nth-of-type(2) {
  opacity: 0.6;
}

.strength-indicator-strength-3 .strength-indicator-bar:nth-of-type(3) {
  opacity: 0.8;
}

.strength-indicator-strength-3 .strength-indicator-bar:nth-of-type(4) {
  opacity: 1;
}

.strength-indicator-strength-4 .strength-indicator-bar:nth-of-type(1) {
  opacity: 0.4;
}

.strength-indicator-strength-4 .strength-indicator-bar:nth-of-type(2) {
  opacity: 0.55;
}

.strength-indicator-strength-4 .strength-indicator-bar:nth-of-type(3) {
  opacity: 0.7;
}

.strength-indicator-strength-4 .strength-indicator-bar:nth-of-type(4) {
  opacity: 0.85;
}

.strength-indicator-strength-4 .strength-indicator-bar:nth-of-type(5) {
  opacity: 1;
}

button {
  position: absolute;
  bottom: 45px;
  padding: 14px 27px;
  min-width: 225px;
  height: 4rem;
  font-family: 'Roboto Mono', Courier, monospace;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  -webkit-appearance: none;
  background: linear-gradient(to right, #6804ff 0%, #ff4d4d 40%, #ff34f9 70%, #ff3458 100%);
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  button {
    margin-top: 40px;
  }
}

@media (max-width: 400px) {
  button {
    width: calc(100% - 90px);
    min-width: auto;
  }
}

button.on-mouse-enter {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

button.on-mouse-leave {
  animation-name: gradient-reverse;
  -webkit-animation-name: gradient-reverse;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes gradient-reverse {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button:active {
  bottom: 44px;
}

.copy-button {
  width: 288px;
}

@media (max-width: 400px) {
  .copy-button {
    width: calc(100% - 90px);
  }
}

.button-text {
  display: inline-block;
  margin-left: 11px;
}

.record-icon,
.stop-icon {
  position: relative;
  top: 1px;
}

.footer {
  margin-top: 16px;
  padding-bottom: 60px;
  text-align: center;
}

@media (max-width: 600px) {
  .main-footer {
    display: none;
  }
}

.rerecord-button,
.download-archive-button,
.view-source-code-button {
  font-size: 14px;
  color: #9783d4;
  text-decoration: none;
  border-bottom: 1px solid #9783d4;
  transition: all 0.2s;
}

.rerecord-button:hover,
.download-archive-button:hover,
.view-source-code-button:hover {
  border-bottom: 1px solid #bfb1ea;
  color: #bfb1ea;
}

.rerecord-button:active,
.download-archive-button:active,
.view-source-code-button:active {
  position: relative;
  top: 1px;
  color: #bfb1ea;
  border-bottom: 1px solid #bfb1ea;
}

.separator {
  position: relative;
  top: -1px;
  margin: 0 12px;
  display: inline-block;
  font-size: 10px;
  opacity: 0.5;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@keyframes bulge {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(2);
  }

  100% {
    transform: scaleY(1);
  }
}

@supports not (background: paint(worklet)) {
  @keyframes rotate {
    0% {
      border-image: conic-gradient(
          from 0deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    1% {
      border-image: conic-gradient(
          from 3.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    2% {
      border-image: conic-gradient(
          from 7.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    3% {
      border-image: conic-gradient(
          from 10.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    4% {
      border-image: conic-gradient(
          from 14.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    5% {
      border-image: conic-gradient(
          from 18deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    6% {
      border-image: conic-gradient(
          from 21.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    7% {
      border-image: conic-gradient(
          from 25.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    8% {
      border-image: conic-gradient(
          from 28.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    9% {
      border-image: conic-gradient(
          from 32.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    10% {
      border-image: conic-gradient(
          from 36deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    11% {
      border-image: conic-gradient(
          from 39.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    12% {
      border-image: conic-gradient(
          from 43.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    13% {
      border-image: conic-gradient(
          from 46.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    14% {
      border-image: conic-gradient(
          from 50.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    15% {
      border-image: conic-gradient(
          from 54deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    16% {
      border-image: conic-gradient(
          from 57.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    17% {
      border-image: conic-gradient(
          from 61.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    18% {
      border-image: conic-gradient(
          from 64.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    19% {
      border-image: conic-gradient(
          from 68.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    20% {
      border-image: conic-gradient(
          from 72deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    21% {
      border-image: conic-gradient(
          from 75.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    22% {
      border-image: conic-gradient(
          from 79.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    23% {
      border-image: conic-gradient(
          from 82.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    24% {
      border-image: conic-gradient(
          from 86.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    25% {
      border-image: conic-gradient(
          from 90deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    26% {
      border-image: conic-gradient(
          from 93.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    27% {
      border-image: conic-gradient(
          from 97.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    28% {
      border-image: conic-gradient(
          from 100.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    29% {
      border-image: conic-gradient(
          from 104.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    30% {
      border-image: conic-gradient(
          from 108deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    31% {
      border-image: conic-gradient(
          from 111.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    32% {
      border-image: conic-gradient(
          from 115.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    33% {
      border-image: conic-gradient(
          from 118.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    34% {
      border-image: conic-gradient(
          from 122.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    35% {
      border-image: conic-gradient(
          from 126deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    36% {
      border-image: conic-gradient(
          from 129.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    37% {
      border-image: conic-gradient(
          from 133.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    38% {
      border-image: conic-gradient(
          from 136.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    39% {
      border-image: conic-gradient(
          from 140.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    40% {
      border-image: conic-gradient(
          from 144deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    41% {
      border-image: conic-gradient(
          from 147.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    42% {
      border-image: conic-gradient(
          from 151.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    43% {
      border-image: conic-gradient(
          from 154.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    44% {
      border-image: conic-gradient(
          from 158.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    45% {
      border-image: conic-gradient(
          from 162deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    46% {
      border-image: conic-gradient(
          from 165.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    47% {
      border-image: conic-gradient(
          from 169.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    48% {
      border-image: conic-gradient(
          from 172.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    49% {
      border-image: conic-gradient(
          from 176.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    50% {
      border-image: conic-gradient(
          from 180deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    51% {
      border-image: conic-gradient(
          from 183.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    52% {
      border-image: conic-gradient(
          from 187.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    53% {
      border-image: conic-gradient(
          from 190.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    54% {
      border-image: conic-gradient(
          from 194.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    55% {
      border-image: conic-gradient(
          from 198deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    56% {
      border-image: conic-gradient(
          from 201.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    57% {
      border-image: conic-gradient(
          from 205.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    58% {
      border-image: conic-gradient(
          from 208.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    59% {
      border-image: conic-gradient(
          from 212.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    60% {
      border-image: conic-gradient(
          from 216deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    61% {
      border-image: conic-gradient(
          from 219.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    62% {
      border-image: conic-gradient(
          from 223.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    63% {
      border-image: conic-gradient(
          from 226.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    64% {
      border-image: conic-gradient(
          from 230.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    65% {
      border-image: conic-gradient(
          from 234deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    66% {
      border-image: conic-gradient(
          from 237.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    67% {
      border-image: conic-gradient(
          from 241.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    68% {
      border-image: conic-gradient(
          from 244.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    69% {
      border-image: conic-gradient(
          from 248.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    70% {
      border-image: conic-gradient(
          from 252deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    71% {
      border-image: conic-gradient(
          from 255.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    72% {
      border-image: conic-gradient(
          from 259.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    73% {
      border-image: conic-gradient(
          from 262.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    74% {
      border-image: conic-gradient(
          from 266.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    75% {
      border-image: conic-gradient(
          from 270deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    76% {
      border-image: conic-gradient(
          from 273.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    77% {
      border-image: conic-gradient(
          from 277.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    78% {
      border-image: conic-gradient(
          from 280.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    79% {
      border-image: conic-gradient(
          from 284.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    80% {
      border-image: conic-gradient(
          from 288deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    81% {
      border-image: conic-gradient(
          from 291.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    82% {
      border-image: conic-gradient(
          from 295.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    83% {
      border-image: conic-gradient(
          from 298.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    84% {
      border-image: conic-gradient(
          from 302.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    85% {
      border-image: conic-gradient(
          from 306deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    86% {
      border-image: conic-gradient(
          from 309.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    87% {
      border-image: conic-gradient(
          from 313.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    88% {
      border-image: conic-gradient(
          from 316.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    89% {
      border-image: conic-gradient(
          from 320.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    90% {
      border-image: conic-gradient(
          from 324deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    91% {
      border-image: conic-gradient(
          from 327.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    92% {
      border-image: conic-gradient(
          from 331.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    93% {
      border-image: conic-gradient(
          from 334.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    94% {
      border-image: conic-gradient(
          from 338.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    95% {
      border-image: conic-gradient(
          from 342deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    96% {
      border-image: conic-gradient(
          from 345.6deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    97% {
      border-image: conic-gradient(
          from 349.2deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    98% {
      border-image: conic-gradient(
          from 352.8deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    99% {
      border-image: conic-gradient(
          from 356.4deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
    100% {
      border-image: conic-gradient(
          from 360deg,
          #6804ff 0%,
          #ff4d4d 30%,
          #ff34f9 50%,
          #ff3458 70%,
          #6804ff 90%
        )
        1;
    }
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
